/* --------------------------------------------------------------------------
 * Crystal Theme : Home Page Parfume E-Commerce Template
 *
 * file           : home-page.css
 * Desc           : Home Page- Stylesheet
 * Version        : 
 * Date           : 
 * Author         : Crystal Infosys
 * Author URI     : 
 * Email          : 
 *
 * jThemes Studio. Copyright 2017. All Rights Reserved.
 * -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
 *  Home Fifteen Template - Table of Content

  1 - General
    1.1 - Preloader
    1.2 - Global properties (body, common classes, structure etc)
    1.3 - Page section block
    1.4 - Typography (section title, links, page dividers)
    1.5 - Buttons 
    1.6 - Form / Input / Textarea  
    1.7 - Theme Colors
    1.8 - Theme Fonts
    1.9 - Rating Stars
    
  2 - Header

  3 - Home 
    3.1 - Main Slider
    3.2 - Features 
    3.3 - Hot Deal   
    3.4 - Our Products 
    3.5 - Home Blog
    3.6 - Brands
              
  4 - Footer

  5 - Popups
    5.1 - To Top
    5.2 - Product Preview 
    5.3 - Subscribe

 * -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Montserrat:400,500,600,700,800,900');

/******************************* 
    1 - GENERAL CSS STARTS 
********************************/

/*---------------- 1.1 Preloader Starts ------------------*/
#loading {  
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2000;   
    top: 0px;
    background: #fff; 
}

.loader {
    background-position: center center;
    background-image:url(../img/common/loadding-page.gif);
    background-repeat:no-repeat;
    text-align: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/*---------------- 1.1 Preloader Ends ------------------*/

/*---------------- 1.2 Global properties (body, common classes, structure etc) Starts ----------------------*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #ffffff;
    color: #999;   
    overflow-x: hidden; 
}
.boxed .wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.no-margin{margin: 0;}
.owl-carousel .owl-item img {width: auto;}
img{max-width: 100%; height: auto; transition: all 250ms ease-in-out 0s; -webkit-transition: all 250ms ease-in-out 0s;}
.light-bg {background-color: #f2f2f2;}
.white-bg{ background-color: #fff;}
.black-bg{ background-color: #000;}
.rel-div{position: relative;}
.mask-overlay,.theme-color-mask, .white-mask {z-index: 1; position: relative;}
.mask-overlay::before,.theme-color-mask::before, .white-mask::before {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.mask-overlay::before{ background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;}
.white-mask::before{ background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;}
.title-wrap{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;    
}
.title-wrap h2 {position: relative; margin-bottom: 25px; margin-top: 30px; font-size: 30px;}
.title-wrap > p {
    margin: auto auto 20px;
    width: 70%;
}
.carousal-title h2{
    margin-bottom: 20px;
}
.our-products {
    background-color: #f5f5f5;
    padding:30px 0px;
    margin-bottom: 50px;
}

@media (max-width:767px){
    .title-wrap > p {width: 90%;}
}


.section-title, .main-title, .title-1,.title-2,.post-title, .product-title, .widget-title {
    color: #000;  
    text-transform: uppercase;  
    letter-spacing: 1px;
    font-weight: 600
}
.main-title {font-size: 36px;;}
.section-title { font-size: 18px; }
.title-1{ font-size: 24px; }
.title-2{ font-size: 14px; }
.post-title{font-size: 14px;}
.product-title { font-size: 14px; }
.widget-title {font-size: 16px;}
.white-color{color: #fff;}
.white-color .section-title, .white-color p{ color: #fff;}
.black-color {color: #000000;}
.gray-color{color: #999;}
.green-color {color: #99cc00;}
.red-color {color: #cc0000;}
.color, a.color {color: #927548;}

.block-inline{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    position: relative;
}
.list-items li{
    display: inline-block;
    margin: 0 5px;
}
.list-items{ margin-bottom: 0; }


/*-- Tags --*/
.sale-tag, .new-tag {
    background-color: #ffffff;
    color: #cc0000;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: 15px;
    width: 60px;
    z-index: 1;
}
.new-tag {right: auto; left: 15px; color: #000;}
.bubble {
    bottom: 80%;
    display: table;
    margin: auto;
    position: absolute;
    right: 0;
    width: auto;
}
.hot-tag, .green-tag{    
    border-radius: 2px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    padding: 2px 5px;
    position: relative;
    z-index: 2;
}
.hot-tag {background-color: #cc0000;}
.green-tag {background-color: #00b16a;}
.hot-tag::after, .green-tag::before {
    border-bottom: 6px solid rgba(0, 0, 0, 0);   
    bottom: -6px;
    content: "";
    left: 15px;
    position: absolute;
}
.hot-tag::after, .hot-tag::before{border-left: 4px solid #cc0000;}
.green-tag::after, .green-tag::before {border-left: 4px solid #00b16a;}

@media (max-width: 1199px) {
    .bubble {
        bottom: 15px;
        left: auto;
        right: 50px;
    }  
}
/*------------------- 1.2 Global properties (body, common classes, structure etc) Ends -----------------*/

/*---------------------- 1.3 Page section block Starts ----------------------------*/
.sec-space {padding-bottom: 80px; padding-top: 80px;}
.sec-space-bottom {padding-bottom: 80px;}
.sec-space-top {padding-top: 80px;}
.ptb-10{
    padding-bottom: 10px;
    padding-top: 10px;
}
.pb-10{padding-bottom: 10px;}
.pt-10{padding-top: 10px;}
.ptb-15 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.pt-25{padding-top: 25px;}
.pb-25{padding-bottom: 25px;}
.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.ptb-50{
    padding-bottom: 50px;
    padding-top: 50px;
}
.pt-50{padding-top: 50px;}
.pb-50{padding-bottom: 50px;}
.pt-70{padding-top: 70px;}
.pb-70{padding-bottom: 70px;}
.ptb-70{
    padding-bottom: 70px;
    padding-top: 70px;
}
.mb-30 {margin-bottom: 30px;}

@media (max-width: 991px) {
    .sx-mt-50 {margin-top: 50px;}
}
@media (max-width: 767px){
    .sec-space {padding-bottom: 70px; padding-top: 70px;}
    .sec-space-bottom {padding-bottom: 70px;}
    .sec-space-top {padding-top: 70px;}
}
@media (min-width: 1200px){
    .container {padding-left: 0; padding-right: 0;}
}
/*---------------------------- 1.3 Page section block Ends ---------------------------*/

/*--------------------------- 1.4 Typography (section title, links, page dividers) Starts -------------------------- */
a:hover 
a:active,
a:focus,
.btn:hover, .btn:focus,.btn:active{  
    text-decoration: none;
    outline: 0;
}
a:hover,
a:active,
a:focus {
    color: #cccccc;
}
a, .btn {
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    color: #000;
}
a:hover,
a:active,
a:focus {
    text-decoration: none;
    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

p {
    margin-bottom: 15px;
    line-height: 1.7;
}
ul,
ol {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
    padding-left: 20px;
}
h2,h3,h4,h5,h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider-1 {display: inline-block; width: 100%;  border-color: rgba(204, 204, 204, 0.5); margin-bottom: 30px;  margin-top: 30px;}
.divider-2 {display: inline-block; width: 100%;  border-color: rgba(204, 204, 204, 0.5); margin-bottom: 20px;  margin-top: 20px;}

/*------------------------ 1.4 Typography (section title, links, page dividers) Ends ---------------------- */

/*--------------------------- 1.5 Buttons Starts ---------------------- */

.theme-btn-1, .theme-btn-2, .theme-btn, .btn-black, .btn-white {
    display: inline-block;
    vertical-align: middle;    
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);    
    position: relative;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;

    -moz-osx-font-smoothing: grayscale;    

    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
}
.theme-btn-1:before, .theme-btn-2:before, .theme-btn:before, .btn-black:before, .btn-white:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -ms-transition-property: top, right, bottom, left;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.theme-btn-1:before{border: #454545 solid 4px;}
.theme-btn:before, .theme-btn-2:before {border: transparent solid 4px;}
.btn-black:before{border: #000 solid 4px;}
.btn-white:before{border: #fff solid 4px;}
.theme-btn-1:hover:before, .theme-btn-1:focus:before,
.theme-btn-2:hover:before, .theme-btn-2:focus:before,
.theme-btn:hover:before, .theme-btn:focus:before,
.btn-black:hover:before, .btn-black:focus:before,
.btn-white:hover:before, .btn-white:focus:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}
.theme-btn:hover:before, .theme-btn:focus:before{
    border: #999 solid 4px;  
}
.theme-btn-2:hover:before, .theme-btn-2:focus:before{
    border: #fff solid 4px;  
}
.theme-btn:hover, .theme-btn:focus{
    background-color: #999;
    border-color: #999;
}
.btn-black:hover, .btn-black:focus{
    background-color: #000;
    border-color: #000;
}
.btn-white:hover, .btn-white:focus {
    background-color: #fff;
    border-color: #fff;
}
.theme-btn-2:hover, .theme-btn-2:focus {
    background-color: #fff;
    border-color: #fff;
}
.theme-btn, .theme-btn-1, .btn-black, .btn-white, .theme-btn-2 {
    text-align: center;
    border: 1px solid #000;
    border-radius: 0;
    color: #000000;
    background-color: transparent;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    min-width: 170px;
    padding: 0 20px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
}
.theme-btn-1 {    
    background-color: #454545;
    border: 1px solid #454545;
    color: #ffffff;
}
.theme-btn-2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-black {    
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
}
.btn-white {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}
.btn-white:hover, .btn-white:focus{
    color: #000;
}
.theme-btn-1:hover, .theme-btn-1:focus, .theme-btn:hover, .theme-btn:focus, .btn-black:hover, .btn-black:focus{
    color: #fff;
}
.theme-btn i {
    margin-right: 6px;
    vertical-align: middle;
}
.btn.small-btn{
    height: 40px;
    line-height: 40px;
    min-width: 115px;
    font-size: 13px;
}
.btn.larg-btn{
    height: 60px;
    line-height: 60px;
    min-width: 200px;
}
.btn .btn-txt {
    float: left;
    width: 75%;
}
.btn .btn-icon {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    float: right;
    position: relative;
    padding-left: 8px;
    width: 20%;
}
.btn-2 {
    min-width: 225px;
}
label.btn input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    text-transform: uppercase;
}

/*------------------------ 1.5 Buttons Ends ---------------------------- */

/*----------------------- 1.6 Form / Input / Textarea Starts --------------------------- */

.form-group {
    margin-bottom: 20px;
}
.form-control, .input-group-addon, .bootstrap-select .btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: #e7e8ec;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    font-size: 13px;
    height: 52px;
    line-height: 50px;
    padding: 10px 20px;
}
.form-control.submit-btn{
    height: auto;
    line-height: normal;
}
.form-alert{
    margin: 0;
}

/*-- Checkbox/Radiobox Starts --*/
.form-group [type="checkbox"], .form-group [type="radio"]{
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.form-group .checkbox-inline, .form-group .radio-inline {
    margin: 0;
    padding-left: 0;
    vertical-align: middle;
    vertical-align: -moz-middle-with-baseline;
}
.form-group [type="checkbox"] + span, .form-group [type="radio"] + span {
    cursor: pointer;
    vertical-align: middle;
}
.form-group [type="checkbox"] + span::before{   
    color: #000;
    content: "\56";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="checkbox"]:checked + span:before {  
    content: "\5a";
    font-family: "ElegantIcons";
}
.form-group [type="radio"] + span::before{   
    color: #000;
    content: "\5b";
    font-family: "ElegantIcons";
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    line-height: 0;
}
.form-group [type="radio"]:checked + span:before {  
    content: "\5c";
    font-family: "ElegantIcons";
}
/*-- Checkbox/Radiobox Ends --*/

::-webkit-input-placeholder {
    color: #000 ;
}
:-moz-placeholder {
    color: #000;
}
::-moz-placeholder {
    color: #000;
}
:-ms-input-placeholder {
    color: #000;
}

.form-control::-webkit-input-placeholder {
    color: #7e848e;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #7e848e;
    opacity: 1;
}
.form-control::-ms-input-placeholder{
    color: #7e848e;
    opacity: 1;
}
.form-control:focus {
    background-color: transparent;
    border-color: #e7e8ec;
    box-shadow: none;
    outline: 0 none;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
    outline: 0;
}
input:focus::-webkit-input-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}
input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-ms-input-placeholder {
    color: transparent !important;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent !important;
}
textarea:focus:-moz-placeholder {
    color: transparent !important;
}
textarea:focus::-moz-placeholder {
    color: transparent !important;
}
textarea:focus:-ms-input-placeholder {
    color: transparent !important;
}

/*--Bootstrap Select--*/
.bootstrap-select .btn .filter-option{
    color: #000000;
    line-height: 30px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    border: none;
    margin-top: 0; 
    right: 30px;
    top: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .caret:after{
    content: "\f107";
    font-family: fontawesome;
    font-size: 14px;
    color: #666;
}
.bootstrap-select .btn-default.active.focus, .bootstrap-select .btn-default.active:focus, .bootstrap-select .btn-default.active:hover, 
.bootstrap-select .btn-default.focus:active, .bootstrap-select .btn-default:active:focus, .bootstrap-select .btn-default:active:hover, 
.bootstrap-select > .dropdown-toggle.btn-default.focus, .bootstrap-select > .dropdown-toggle.btn-default:focus, 
.bootstrap-select > .dropdown-toggle.btn-default:hover {
    background-color: transparent;
    border-color: #cccccc;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: 0 none !important;
    outline-offset: 0;
}
/*---------------------------- 1.6 Form / Input / Textarea Ends ------------------------------ */


/*---------------------------------- 1.7 Content Middle Starts -------------------------------- */
.flex-item {position: relative;}
.flex-item.overlay::before {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.flex-wrap {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.flex-caption {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.flex-caption.middle {justify-content: center; text-align: center;}
.flex-caption.top {justify-content: flex-start;}

/*------------------------ 1.7 Content Middle Ends ------------------------ */

/*--------------------------1.8 Theme Fonts Starts------------------- */

.font-2, h1,h2,h3,h4,h5,h6, .block-carousel .owl-nav div {font-family: 'Montserrat', sans-serif;}

.fsz-18 { font-size: 18px; }

.fw-900{ font-weight: 900; }
.fw-600{ font-weight: 600; }
.fw-500{ font-weight: 500; }
.fw-300{ font-weight: 300; }

.upper-case {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
.trans-none {text-transform: none;}

.text-highlights.black {
    background: #313131 none repeat scroll 0 0;
}
.text-highlights.blue {
    background: #31aae2 none repeat scroll 0 0;
}
.text-highlights {
    color: #ffffff;
    padding: 0 5px;
}

@media screen and (max-width:767px) {
    body, p {font-size: 13px;} 
}
/*-------------------------1.8 Theme Fonts Ends--------------------- */

/*-------------------------  1.9 - Rating Stars Starts --------------------- */

/*.rating .star {
    cursor: pointer;     
}*/

.rating span.star::before{
    color: #cccccc;
    content: "\e033";
    font-family: "ElegantIcons";
}
.rating span.star.half:before{
    color: #ffd33b;
    content: "\e032";
    font-family: "ElegantIcons";
}
.rating span.active::before{color: #ffd33b;}

/*------------------------- 1.9 - Rating Stars Ends --------------------- */


/******************************* 
    1 - GENERAL CSS ENDS 
********************************/

/******************************* 
    2 - HEADER CSS STARTS 
********************************/
.boxed .header-wrap {max-width: 1200px;}
.header-two .header-wrap{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 25px 0;
    z-index: 99;
    transition: all ease-out 0.4s;
    -webkit-transition: all ease-out 0.4s;
    z-index: 11;
}

.header-two .menu-bar, .header-two .top-elements {float: right;}
.header-two .top-elements {margin-left: 25px;}

/*--- Header Topbar ---*/
.header-two .top-bar {border-bottom: 1px solid rgba(204, 204, 204, 0.5); display: inline-block; width: 100%;}
.header-two .list-inline {margin-bottom: 0; line-height: 1; color: #666;}
.header-two .top-bar .list-inline i {margin-right: 5px;}
.header-two .top-bar .list-inline a {color: #666;}
.header-two .top-bar .list-inline a:hover, .header-two .top-bar .list-inline a:focus {color: #000;}
.header-two .top-bar .list-inline > li {position: relative;  line-height: 1; vertical-align: middle;}
.header-two .top-bar .list-inline > li + li {margin-left: 10px; padding-left: 13px;}
.header-two .top-bar .list-inline > li + li:before {content: "";  position: absolute; left: 0; width: 1px; height: 15px; top: 0; bottom: 0; margin: auto; background-color: #666;}
.header-two .top-nav {text-align: right;}
.header-two .top-nav form {display: inline-block; vertical-align: middle;}
.header-two .top-nav .bootstrap-select .btn .filter-option {
    color: #666;
    line-height: normal;
}
.header-two .top-nav btn-group.open .dropdown-toggle {box-shadow: none;}
.header-two .top-nav .dropdown-menu{
    margin: 10px 0 0;
    border-radius: 0;
    box-shadow: none;
    left: -15px;
    min-width: 120px;
}
.header-two .top-nav .search-selectpicker img {
    margin-bottom: 3px;
    margin-right: 8px;
}
.header-two .top-nav .bootstrap-select.btn-group .dropdown-menu li {
    margin: 0;
    padding: 0 5px;
    width: 100%;
}
.header-two .top-nav .dropdown-menu > li > a{
    padding: 4px 8px;
    color: #999;
}
.header-two .top-nav .dropdown-menu > li > a:focus, .header-two .top-nav .dropdown-menu > li > a:hover{
    background: transparent;
    color: #000;
}
.header-two .top-nav .btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none;
}
.header-two .top-nav .dropdown-menu > .active > a, .header-two .top-nav .dropdown-menu > .active > a:focus,.header-two  .top-nav .dropdown-menu > .active > a:hover {
    background-color: transparent;
    color: #000000;
}
.header-two .top-nav .bootstrap-select .btn {
    border: none;
    height: auto;
    line-height: normal;
    padding: 0 10px 0 0;
}
.header-two .top-nav .bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 5px;
    top: 0px;
}
.header-two .top-nav .bs-searchbox .form-control{
    padding: 0 5px;
    height: auto;
    line-height: 30px;
}
@media (max-width: 991px) {
    .header-two .top-bar .custom-link > li + li {margin: 10px auto auto; padding-left: 5px;}
    .header-two .top-bar .custom-link > li + li:before {background-color: transparent;}
}
@media (max-width: 767px){
    .header-two .top-bar .social-link, .top-bar, .header-two .middle-bar {text-align: center;}
    .header-two .top-nav {text-align: center;}
    .header-two .top-bar .custom-link > li  {margin: 10px auto auto;}
}

/*--- /Header Topbar ---*/


/*--- Header Search ---*/
.header-two .search-form-wrap {display: inline-block; vertical-align: middle; width: 50px; text-align: center;}
.header-two .search-form-wrap .search-icon {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}
.header-two .search-form {
    background: #ffffff none repeat scroll 0 0;
    display: none;
    position: absolute;
    right: 130px;
    top: -12px;
    left: 0;
    z-index: 9;
}
.header-two .search-form .search {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #cbcbcb;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    height: 50px;
    padding: 5px 15px;
    width: 100%;
}
.header-two .search-form > span {
    color: #000000;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 15px;
}

.header-two .top-settings {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.header-two .top-settings > .icons {font-size: 24px;}
/*--- Header Search ---*/

/*--- Header Cart ---*/
.header-two .header-cart-wrap {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.header-two .header-cart {
    display: inline-block;
    position: relative;
}
.header-two .cart-icon {font-size: 25px;}
.header-two .header-cart span.count {
    background: #927548 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    height: 19px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    right: -5px;
    text-align: center;
    text-transform: uppercase;
    width: 19px;
}
.header-two .cart-popup {
    text-align: left;
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: absolute;
    right: 15px;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    width: 330px;
    z-index: 99;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.header-two .header-cart-wrap:hover .cart-popup {
    opacity: 1;
    top: 41px;
    visibility: visible;
}
.header-two .cart-popup .alert {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 0 0 20px;
    width: 100%;
}
.header-two .cart-list .img {float: left;}
.header-two .cart-list .cart-title {
    display: block;
    margin-left: 65px;
}
.header-two .cart-title > a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.header-two .cart-list .close {
    color: #000000;
    font-size: 24px;
    opacity: 1;
}
.header-two .cart-list .close:hover, .header-two .cart-list .close:focus {color: #ccc;}
.header-two .cart-list .price > b {
    color: #000000;
    font-size: 14px;
    font-weight: 800;
}
.header-two .cart-list .price > del {
    color: #cccccc;
    font-size: 12px;
}
.header-two .cart-list {margin: 0;}
.header-two .cart-box .total > span {
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
}
.header-two .cart-box .total-price {
    float: right;
    font-size: 17px;
}
.header-two .cart-box .total {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
}
.header-two .cart-box .buttons {
    display: inline-block;
    margin: 25px auto 10px;
    width: 100%;
}
.header-two .cart-box .buttons .left {float: left;}
.header-two .cart-box .buttons .right {float: right;}
@media (max-width: 991px) {
    .header-two .header-cart .items {display: none;}
}
@media (max-width: 380px) {
    .header-two .cart-popup {width: 280px;}
}
/*--- /Header Cart ---*/

/*--- Header Setting ---*/
.header-two .top-settings:hover .settings-popup{
    opacity: 1;
    top: 41px;
    visibility: visible;
}
.header-two .settings-popup {
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    height: auto;
    padding: 10px 20px;
    position: absolute;
    right: 15px;
    text-align: left;
    top: 30px;
    z-index: 1001;
    width: 290px;
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.header-two .settings-popup > li {
    border-bottom: 1px solid #cccccc;
    display: table;
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.header-two .settings-popup li:last-child{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*toggle-popup*/
.header-two .country-flag > a, .header-two .country-currency a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.header-two .country-currency a {
    background-color: #d8d8d8;
    color: #333333;
    font-size: 15px;
    height: 30px;
    margin-bottom: 8px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.header-two .country-currency a:hover, .header-two .country-currency a:focus {color: #fff; background-color: #333;}
.header-two .country-flag > a {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1px;
}
.header-two .country-flag > a:hover, .header-two .country-flag > a.active{ border-color: #000;}
.header-two .additional-page > a {
    color: #999999;
    display: block;
    padding: 5px 0;
    font-size: 14px;
    text-transform: uppercase;
}
.header-two .additional-page span {
    font-size: 15px;
    line-height: 0;
    margin-right: 5px;
}
.header-two .additional-page > a:hover, .header-two .additional-page > a:focus{ color: #000;}
/*--- /Header Setting ---*/

/*---Header Navigation Megamenu---*/
.header-two .primary-navbar > li { display: inline-block;}
.header-two .primary-navbar {text-align: center; margin: 0;}
.header-two .primary-navbar > li > a {
    display: inline-block;
    font-weight: 500;
    padding: 5px 20px;
    position: relative;
    text-transform: uppercase;
    color: #333333;
}
.header-two a.dropdown-toggle::before {
    border: medium none;
    content: "3";
    font-family: "ElegantIcons";
    font-size: 17px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.header-two .primary-navbar .mega-dropdown {position: static;}
.header-two .primary-navbar .mega-dropdown-menu {width: 100%; margin: 0;}
.header-two .mega-dropdown-menu .menu-block {}
.header-two .menu-block + .menu-block {
    border-left: 1px solid #f3f3f3;
    min-height: 285px;
}
.header-two .dropdown-menu li a {
    color: #434343;
    font-size: 13px;
    text-transform: capitalize;
    padding: 5px 0;
}
.header-two .dropdown-menu li a:hover, .header-two .dropdown-menu li a:focus {color: #000; background-color: transparent;}
.header-two .primary-navbar li .mega-dropdown-menu.dropdown-menu { border: medium none; border-radius: 0; padding: 0;}
.header-two .sub-list > ul {padding: 0;}
.header-two .sub-list > ul li a {display: block;}
.header-two .menu-block {margin: 35px auto; padding: 0 35px;}
.header-two .menu-block .title-2 {margin: 30px 0 15px; font-weight: 600;}
.header-two .mega-dropdown-menu li a:hover{color: #000;}
.header-two .mega-dropdown-menu > .flex-item { 
    background-image: url("../img/common/banner-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.header-two .mega-dropdown-menu .menu-offer {padding: 15px;}
.header-two .mega-dropdown-menu .menu-offer .title,
.header-two .mega-dropdown-menu .menu-offer .title-1 {color: #fff; text-transform: uppercase; font-size: 14px;}
.header-two .mega-dropdown-menu .menu-offer .title-1 {font-size: 24px;}
.header-two .mega-dropdown-menu .menu-offer > .btn {margin-top: 15px;}

.header-two .nav-trigger {display: none;}

.header-two .header-wrap.is-sticky {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    left: 0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;    
    z-index: 999;
    background-color: #fff;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}
.header-two .top-bar > div {margin-top: 15px; margin-bottom: 15px;}

/* Responsiv */

@media (min-width:1200px) {

    .header-two.overlay {
        padding-left: 30px;
        position: absolute;
        padding-right: 30px;
        background-color: #fff;
        opacity: 0.96;
        top: 0;
        z-index: 11;
    }

    /*-- Header --*/
    .header-two .primary-navbar li .dropdown-menu {
        opacity: 0;    
        visibility: hidden;
        display: block;
        padding: 5px 15px;
        border: 0 none;
        border-radius: 0;

        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);

        transition: transform 0.3s ease 0s;
        -webkit-transition: -webkit-transform 0.3s ease 0s;
        -ms-transition: -ms-transform 0.3s ease 0s;

        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
    }
    .header-two .primary-navbar > li:hover > .dropdown-menu {
        opacity: 1;    
        visibility: visible;

        transform: translateY(0px);   
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
    .header-two .dropdown-menu  li:hover > .dropdown-menu {
        opacity: 1;        
        visibility: visible;

        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }
    .header-two .dropdown-menu li .dropdown-menu {
        right: 100%;
        left: auto;
        top: 0;  
        margin-right: 15px;

        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
    }

    .header-two .dropdown-menu a.dropdown-toggle::before {top: 5px; font-size: 14px;}
}
@media (max-width: 1199px) {
    .header-two.overlay {padding: 0 15px;}
    .header-two .row > div {
    margin-bottom: 15px;
    margin-top: 15px;
}
    
    .header-two .nav-trigger {
        cursor: pointer;
        display: block;
        font-size: 32px;
    }
    .header-two .nav-trigger.open {        
        z-index: 5;
        float: right;
        line-height: 25px;
    }
    .header-two .nav-trigger.open:hover, .header-two .nav-trigger.open:focus {color: #000;}
    .header-two .nav-trigger.close-icon {
        margin: 10px;
        font-size: 20px;
        color: #939393;
        text-align: right;
        float: right;
    }
    .header-two .nav-trigger.close-icon:hover, .header-two .nav-trigger.close-icon:focus {color: #fff;}
    .header-two .menu-bar {
        margin-right: 10px;
        left: 0;
        max-width: 300px;        
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        background-color: #fff;
        height: 100%;
        z-index: 999;
        margin: 0;
        border: none;       
        transform: translateX(-350px);
        -webkit-transform: translateX(-350px);

        transition: all ease-in-out 0.3s ;
        -webkit-transition: all ease-in-out 0.3s ;
    }
    .header-two .primary-navbar {text-align: left;}

    .off-canvas-body .header-two .menu-bar {
        background-color: #333333;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    }
    .header-two .primary-navbar li > a {
        color: #999999;
        padding: 10px 15px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    .header-two .primary-navbar li a:hover, .header-two .menu-block .title-2 {color: #ffffff;}
    .header-two .primary-navbar a.dropdown-toggle::before {
        top: 6px; right: 15px;
    }
    .header-two .menu-block {margin: auto; padding: 0 15px;}
    .header-two .menu-block + .menu-block {border: none; padding-top: 0; min-height: auto;}
    .header-two .primary-navbar > li {width: 100%;}
    .header-two .primary-navbar li.open .dropdown-menu {
        background-color: #333333;
        border: medium none;
        border-radius: 0;
        box-shadow: none;
        display: block;
        opacity: 1;
        padding: 0 0 0 25px;
        position: static;
        visibility: visible;
        width: 100%;
    }
    .header-two .primary-navbar li.open .mega-dropdown-menu {
        transform: none;
        -webkit-transform: none;
        padding: 0;
    }    
    .header-two .search-form { width: auto;right: 15px;left: 15px;}
}
@media (max-width: 767px){
    .header-two .logo-wrap {
        text-align: center;
     }
     .header-wrap{
        padding: 7px 0px !important;
     }
     .pq-content{
        width: 100% !important;
        float: none;
        text-align: center;
     }
     .pq-img{
        text-align: center;
        width: 100% !important;
     }
     .pq-img img {
        float: none !important;
        padding-right: 10px;
        width: 60px !important; 
    }
}


/******************************* 
    2 - HEADER CSS ENDS 
********************************/

/******************************* 
    3 - HOME CSS STARTS 
********************************/

.section-title > .gray-color {font-weight: 400;}

/*---------------------- 3.1 Main Slider Starts ---------------------------- */
.single-slider-1 .slide-info {
    color: #ffffff;
    position: absolute;
    left: 10%;
    top: 50%;
    padding-top: 10%;
    width: 500px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.single-slider-1 .slide-info.right {left: auto; right: 10%;}
.single-slider-1 .slide-info p {color: #666; margin: 25px auto 47px;}
.single-slider-1 .title-2 {color: #666666; margin-bottom: 25px; font-weight: 400;}
.single-slider-1 .main-title {font-size: 48px;}
.single-slider-1 .main-title .color {color: #927548;}
.animated  {
    -webkit-animation-duration : 1s  ;
    animation-duration : 1s  ;

    -webkit-animation-delay : 100ms  ;
    animation-delay : 100ms  ;
}
.animate-out {
    -webkit-animation-delay : 0ms  ;
    animation-delay : 0ms  ;
}
.owl-dots-1 .owl-dots {
    bottom: 25px;
    position: absolute;
    right: 30px;
    text-align: center;
}
.owl-dots-1 .owl-dot {display: inline-block;}
.owl-dots-1 .owl-dot span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #000000;
    border-radius: 0;
    font-size: 0;
    height: 6px;
    margin: 0;
    width: 20px;
    margin: 0 6px;
    display: inline-block;
}
.owl-dots-1 .owl-dot.active span {background-color: #000;}
.owl-nav-1 .owl-prev,
.owl-nav-1 .owl-next {  
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%); 
    -webkit-transform: translateY(-50%); 
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.owl-nav-1 .owl-prev:hover, .owl-nav-1 .owl-next:hover { background-color: rgba(0,0,0,0.7);}
.owl-nav-1 .owl-prev i,
.owl-nav-1 .owl-next i {
    color: #ffffff;
    font-size: 30px;
}
.owl-nav-1 .owl-prev {left: 0; }
.owl-nav-1 .owl-next {right: 0; }
.owl-nav-1:hover  .owl-prev {left: 20px; opacity: 1;  visibility: visible;}
.owl-nav-1:hover .owl-next {right: 20px; opacity: 1; visibility: visible;}

/*Responsiv*/
@media (max-width: 767px) {
    .single-slider-1 .slide-info {width: 80%;}
}
@media (max-width: 600px) {
    .single-slider-1 .main-title {font-size: 24px;}    
    .single-slider-1 .slide-info p {margin: 15px auto 17px;}
}
@media (max-width: 480px) {
    .single-slider-1 .main-title {font-size: 18px;} 
    .single-slider-1 .slide-info p, .single-slider-1 .title-2 {display: none;}
}

/*---------------------- 3.1 Main Slider Ends ---------------------------- */


/*--------------------- 3.2 Features Starts ------------------------- */
.features .block {position: relative; display: inline-block; position: relative; margin-top: 30px;}
.features .block .title-2 {
    color: #666666;
    margin-bottom: 12px;
}
.features .block-content {
    padding: 30px;
    position: absolute;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 100% !important;
}
.float-r-block p{
    width: 50%;
    float: right;
    color: #565656;
}
.float-r-block .button{
    float: right;
    width: 100%;
}
.block-content-left{
    background-color: #232323;
    padding: 25px 15px 5px 25px;
}
.block-content-left h3{
    line-height: 27px;
    font-size: 18px;
    color: #fefefe !important;
}
.content-rblock{
    width: 100%;
    clear: both;
    padding-bottom: 20px;
}
.float-r-block h5{
    float: right;
    width: 100%;
    color: #232323;
}
.content-rblock a{
    color: #454545;
    width: 100%;
}
.content-rblock a:hover{
    color: 121212;
    text-decoration: underline;
}
.features .block-content .title-1 {margin-bottom: 30px;}
.features .centered .block-content {width: 50%;}
.features .block-content b {color: #000;}
.features .block-content > ul {margin: 25px auto;}
.features .block-content li {
    padding: 5px 0;
    position: relative;
}
.features .block-content li:before {
    color: #927548;
    margin-right: 10px;
    content: '\e033';
    font-family: "ElegantIcons";
}
.features .block-content .title-2 span {font-size: 18px; vertical-align: middle;}

@media (max-width: 767px){
    .features .centered .block-content {width: 100%; position: static;}
    .float-r-block p{
        width: 100% !important;
    }
}
/*--------------------- 3.2 Features Ends ------------------------- */

/*--------------------- 3.3 Hot Deal Starts ------------------------- */
.hot-deal {
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}
.hot-deal:before {
    background-color: #fefefe;
    opacity: 0.7;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.hot-deal .section-title {
    font-weight: 500;
    margin-bottom: 20px;
}
.hot-deal{
    padding-bottom: 0px;
}
.hot-deal .main-title {font-size: 38px; margin-bottom: 20px;}

.hot-deal .countdown-section {
    display: inline-block; 
    text-align: center;    
    margin-right: 30px;  
}
.hot-deal .countdown-amount {
    color: #000000;
    font-size: 25px;
    line-height: normal;
    margin: 30px 0 0;
    text-transform: capitalize;
    height: 75px;
    width: 75px;
    display: inline-block;
    background: #f8f8f8;
    text-align: center;   
    line-height: 75px;
    font-weight: 600;
}
.hot-deal .countdown-period {
    clear: both;
    color: #999;
    display: block;  
    font-size: 13px;   
    line-height: normal;
    margin: 12px 0 0;
    overflow: hidden;
    position: relative; 
    text-transform: capitalize;
}
.hot-deal .content > p {width: 60%;}
.hot-deal .content b {color: #000;}
.hot-deal .countdown-wrapper {margin: 50px auto 50px;}

@media (max-width: 991px){
    .hot-deal .content {margin-bottom: 50px;}
}

/*--------------------- 3.3 Hot Deal Ends ------------------------- */

/*--------------------- 3.4 Product CSS Starts ------------------------- */
.theme-tabs-1 {text-align: center;}
.theme-tabs-1 > li {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.theme-tabs-1 > li + li {
    border-left: 2px solid #000000;
    margin-left: -4px;
    vertical-align: middle;
}
.theme-tabs-1 > li a {
    line-height: 15px;
    padding: 0 35px;
    text-transform: uppercase;
    font-weight: 500;
}
.theme-tabs-1 > li a:hover, .theme-tabs-1 > li a:focus, .theme-tabs-1 > li.current a{
    background: transparent;
    color: #999;
}
@media(max-width: 500px) {
    .theme-tabs-1 > li + li {border-left: 0; margin-left: 0;}
    .theme-tabs-1 > li a {padding: 0 5px;}     
}

.tab-content {margin-bottom: 20px;}
.product-item {margin: 30px auto auto; display: table;}
.product-item .product-image {position: relative;}
.product-item:hover .product-image .img::before{ opacity: 1;}
.product-item .product-image .img::before {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition:  all 0.4s ease-in-out 0s;
    -webkit-transition:  all 0.4s ease-in-out 0s;
}
.product-item .product-image .product-hover{
    left: 0;
    opacity: 0;
    perspective: 500px;
    position: absolute!important;
    top: 0;
    transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);-webkit-transform: rotateY(-90deg);-o-transform: rotateY(-90deg);
    transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;
    transition: all 0.6s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
.product-item:hover .product-image .product-hover{
    opacity: 1;
    transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);
    transition: all 0.4s ease-in-out 0s;
    visibility: visible;
}
.product-item .product-image > ul {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 3px 5px 5px;
    position: absolute;
    vertical-align: middle;
    z-index: 2;
}
.product-item .color-swatch-item > li {
    display: inline-block;
    height: 15px;
    line-height: 0;
    vertical-align: middle;
    width: 15px;
}
.product-item .color-swatch-item img {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.product-item .color-swatch-item a {
    display: inline-block;
    line-height: 0;
}
.product-item .quick-view a {
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    right: -25px;
    text-align: center;
    visibility: hidden;
    width: 40px;
    z-index: 2;
}
.product-item:hover .quick-view a {visibility: visible; opacity: 1; right: 0;}
.product-item .quick-view a:focus, .product-item .quick-view a:hover {background-color: #fff; color: #000;}
.product-item .product-content {
    padding: 15px 10px;
    text-align: center;
}
.product-item .product-title a:hover, .product-item .product-title a:focus {color: #999;}
.product-item .price > b {
    color: #000000;
    font-size: 18px;
    margin-right: 5px;
}
.product-item .product-links > a {
    border: 1px solid #999999;
    color: #999999;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    vertical-align: middle;
    width: 40px;
}
.product-item .product-links > a:focus, .product-item .product-links > a:hover {
    color: #fff !important;
    background-color: #333;
    border-color: #333;
}
.product-item .product-content .rating {margin: 10px;}
.product-item .product-links {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.product-item .product-links > a.add-to-cart {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    padding: 0 20px;
    text-transform: uppercase;
    width: auto;
}

.product-item:hover .product-image .grid-image .product-hover {
    opacity: 1;
    transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);
    transition: all 0.4s ease-in-out 0s;
    visibility: visible;
}
.product-item .product-image .grid-image .product-hover {
    left: 0;
    opacity: 0;
    perspective: 500px;
    position: absolute!important;
    top: 0;
    transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);-webkit-transform: rotateY(-90deg);-o-transform: rotateY(-90deg);
    transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;
    transition: all 0.6s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
/*---------------------- 3.4 Product CSS Ends ---------------------------- */


/*---------------------- 3.4 Home content Start ---------------------------- */

.content-left img{
    margin-bottom: 15px;
}
.content-part h5{
    font-size: 13px;
    color: #565656;
    font-weight: bold;
}
.content-part{
    margin-bottom: 20px;
}
.content-part p{
    font-size: 12px;
    line-height: 17px;
    color: #888;
}
.content-part ul li{
    font-size: 12px;
}

/*-------------------------- 3.5 Our Blog Starts------------------- */

.our-blog {background-color: #f5f5f5; position: relative; text-align: center;}
.our-blog .block-top-item {
    position: relative; margin: 30px auto; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
}
.our-blog .block-content {
    bottom: 0;
    left: 0; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
    position: absolute;
    right: 0;
    top: 0;z-index:0;
    vertical-align: middle;
    opacity: 0;
    transform: scale(0.7);
}
.our-blog .block-content:before {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    top:0; bottom:0;left:0; right:0;
    content: "";
    transition: all 0.3s ease-in-out 0s; -moz-transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; -o-transition: all 0.3s ease-in-out 0s;
    position: absolute;
    z-index: -1;

}
.our-blog .block-top-item:hover .block-content { opacity: 1; transform: scale(1);}
.our-blog .block-top-item:hover .block-content:before{top:20px; bottom:20px;left:20px; right:20px;}
.our-blog .block-content .section-title{font-weight:400;}
.our-blog .inner-content {
    left: 0;
    padding: 15px 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@media (max-width: 480px) {
    .our-blog .block-content::before {
        bottom: 20px;
        left: 20px;
        right: 20px;
        top: 20px;
    }
}
@media (max-width: 767px) {
    .home-post .post-wrap {display: table;}
}
/*---------------------- 3.5 Our Blog Ends------------------------- */


/*---------------------- 3.6 Brands Starts ---------------------------- */
.prod-brands {margin-bottom: 40px; margin-top: 70px;}
.prod-brands .item {margin: 25px auto;}
.prod-brands .item img {margin: auto;}
.prod-brands a {display: block; opacity: 0.4;}
.prod-brands a:hover{opacity: 1;}
.prod-brands .item {margin: 25px auto;}
/*---------------------- 3.6 Brands Ends ---------------------------- */



/******************************* 
        3 - HOME CSS ENDS 
********************************/
.logo img {
    width: 210px;
}
.navigation-menu{
    padding-top: 10px;
}


/*--------------------- 3.1 Promotion Starts ------------------------- */
.section-two .section-title {text-align: center; margin: 0 0 30px;}
.section-two .flex-item {overflow: hidden;}
.section-two .item-2 .content-block p{top: 50%;transform: translateY(-50%);position: absolute;width:100%;text-align: center;opacity:0; transition: all 250ms ease 0s;color:#fff;}
.section-two .item-2 .content-block:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 50%;
    content: "";
    left: 50%;
    opacity: 0;
    position: absolute;
    right: 50%;
    top: 50%;
    transition: all 250ms ease 0s;
    visibility: hidden;
}
.section-two .item-2:hover .content-block:before {
    bottom: 15px;
    left: 15px;
    opacity: 1;
    right: 15px;
    top: 15px;
    visibility: visible;
}
.section-two .item-2:hover .content-block p{opacity:1}
.section-two .row > div:hover .img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.section-two .content-block > iframe {
    border: medium none;
    width: 100%;
    height: 345px;
}
@media (max-width: 991px) {
    .section-two .content-block > iframe {height: 270px;}
}
@media (max-width: 767px) {
    .section-two .row > div {margin-bottom: 30px;}
}
/*--------------------- 3.2 Promotion Ends------------------------- */

/*--------------------- 3.3 Our Products Starts------------------------- */
.section-three .theme-tabs-1 {text-align: center; width: 100%; display: inline-block;}
.section-three .theme-tabs-1 > li {
    display: inline-block;
    margin: 0 12px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-three .theme-tabs-1 > li + li:before {  
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    top: 6px;
    left: -15px;
    font-size: 8px;
    width: 8px;
    height: 8px;
    color: #999999;
}
.section-three .theme-tabs-1 > li a {color: #999;}
.section-three .theme-tabs-1 > li a:hover, .section-three .theme-tabs-1 > li.active a {color: #000;}
.section-three .tab-content {margin-top: 50px;}

.owl-nav-2 .owl-nav {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    width: 100%;
}
.owl-nav-2 .owl-nav::before {
    border-bottom: 1px dashed #d5d5d5;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
}
.owl-nav-2 .owl-nav > div {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    color: #999999;
    display: inline-block;
    font-size: 24px;
    height: 34px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: 0;
    top: 50%;    
    width: 34px;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    -webkit-transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
}
.owl-nav-2 .owl-nav > div:focus, .owl-nav-2 .owl-nav > div:hover {background-color: #000; color: #fff;}
.owl-nav-2 .owl-nav .owl-prev {left: 0;}
.owl-nav-2 .owl-nav .owl-next {right: 0;}


/*---------------------- Product CSS Starts ---------------------------- */
.product-item {margin: 30px auto auto; display: table;}
.product-item .product-image {position: relative;}
.product-item:hover .product-image .img::before{ opacity: 1;}
.product-item .product-image .img::before {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition:  all 0.4s ease-in-out 0s;
    -webkit-transition:  all 0.4s ease-in-out 0s;
}
.product-item .product-image .product-hover{
    left: 0;
    opacity: 0;
    perspective: 500px;
    position: absolute!important;
    top: 0;
    transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);-webkit-transform: rotateY(-90deg);-o-transform: rotateY(-90deg);
    transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;
    transition: all 0.6s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
.product-item:hover .product-image .product-hover{
    opacity: 1;
    transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);
    transition: all 0.4s ease-in-out 0s;
    visibility: visible;
}
.product-item .product-image > ul {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 3px 5px 5px;
    position: absolute;
    vertical-align: middle;
    z-index: 2;
}
.product-item .color-swatch-item > li {
    display: inline-block;
    height: 15px;
    line-height: 0;
    vertical-align: middle;
    width: 15px;
}
.product-item .color-swatch-item img {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.product-item .color-swatch-item a {
    display: inline-block;
    line-height: 0;
}
.product-item .quick-view a {
    background-color: #000000;
    bottom: 0;
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    right: -25px;
    text-align: center;
    visibility: hidden;
    width: 40px;
    z-index: 2;
}
.product-item:hover .quick-view a {visibility: visible; opacity: 1; right: 0;}
.product-item .quick-view a:focus, .product-item .quick-view a:hover {background-color: #fff; color: #000;}
.product-item .product-content {
    padding: 15px 10px;
    text-align: center;
}
.product-item .product-title a:hover, .product-item .product-title a:focus {color: #999;}
.product-item .price > b {
    color: #000000;
    font-size: 18px;
    margin-right: 5px;
}
.product-item .product-links > a {
    border: 1px solid #999999;
    color: #999999;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    vertical-align: middle;
    width: 40px;
}
.product-item .product-links > a:focus, .product-item .product-links > a:hover {
    color: #fff !important;
    background-color: #333;
    border-color: #333;
}
.product-item .product-content .rating {margin: 10px;}
.product-item .product-links {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.product-item .product-links > a.add-to-cart {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    padding: 0 20px;
    text-transform: uppercase;
    width: auto;
}

.product-item:hover .product-image .grid-image .product-hover {
    opacity: 1;
    transform: rotateY(0deg);-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);
    transition: all 0.4s ease-in-out 0s;
    visibility: visible;
}
.product-item .product-image .grid-image .product-hover {
    left: 0;
    opacity: 0;
    perspective: 500px;
    position: absolute!important;
    top: 0;
    transform: rotateY(-90deg);-moz-transform: rotateY(-90deg);-webkit-transform: rotateY(-90deg);-o-transform: rotateY(-90deg);
    transform-style: preserve-3d;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;
    transition: all 0.6s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}

.item-2{
    margin-bottom: 20px;
}
.item-2 img{
    border: 2px solid #121212;
}
.section-two{
    padding-top: 50px; 
}
.parfume-title{
    position: relative;
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 30px;
}
/*---------------------- Product CSS Ends ---------------------------- */


/*--------------------- 3.2 Features Starts ------------------------- */
.features-parfume{
    text-align:center;
    margin-top:55px; 
    margin-bottom: 35px; 
    color: #999; 
    width: 100%;
}
.features-parfume .block{ 
    background: #f7f7f7 none repeat scroll 0 0;
    min-height: 170px;
    padding-top: 30px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}
.features-parfume .block:hover{
    background:#dedede;
}
.features-parfume .block .block-icon i{
    font-size:40px;
    margin-bottom: 10px;
    color: #232323;
}
.features-parfume .block .block-content p {
    font-size:13px;
    color:#999999;
}

.pq-img img{
    float: left;
    padding-right: 10px;
    width: 20%
}
.pq-content{
    width: 78%;
    float: left;
}
.pq-content h4{
    margin-bottom: 3px;
    color: #232323;
}
.pq-content p{
    color: #676767;
}

/*--------------------- 3.2 Features Ends ------------------------- */


/******************************* 
    4 - FOOTER STARTS 
********************************/
.footer-seven {
    background-color: #f3f3f3;    
    text-align: center;
}
.footer-seven .footer-bg .logo-title{
    margin: 35px 0;
    font-size: 24px;
}
.footer-seven .footer-widget {padding: 50px 0;}
.footer-seven .copy-rights {
    background-color: #e5e5e5;
    padding: 30px 0;
}
.footer-seven .copy-rights p{  
    margin: 0;
    text-transform: capitalize;
}
.ftr-payment-icon ul li {
   width: 80px !important;
   display: inline-block;
   vertical-align: top;
       margin: 5px 4px !important; 
}
.ftr-payment-icon ul li{
    
}
/*Widget*/
.footer-seven .widget-wrap {
    padding: 40px;
}
.footer-seven .widget-wrap + .widget-wrap{
    border-left: 1px solid #ccc;
}
.footer-seven .footer-widget .widget-title{
    font-size: 18px;
    margin: 15px 0 20px 0;
    font-weight: 500;
}
.footer-widget h4{
    font-size: 15px;
    color: #343434;
    font-weight: bold;
}
.ftr-location p{
    margin-bottom: 0px;
}
.address-ftr ul {
    padding-bottom: 15px;
}
.widget-wrap ul li a{
        color: #787878;
    line-height: 26px;
    font-size: 13px;

}
.widget-wrap ul li a:hover{
    color: #232323;
}
.footer-seven .footer-widget .logo-title,.footer-seven .text-widget {
    text-align: center;
}
.footer-seven .footer-widget ul li, .footer-seven .get-touch p {   
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;  
}
.footer-seven .footer-widget .twitter-widget li p{
    margin: 0;
}
.footer-seven .twitter-widget .twit-time{
    color: #999999;
    font-size: 13px;
    text-transform: uppercase;
}
.footer-seven .twitter-widget .twit-time span{
    color: #666;
    font-size: 10px;
    margin-right: 10px;
}
.footer-seven .social-media {padding-top: 20px; padding-bottom: 50px;}
.footer-seven .footer-widget ul {
    margin: 0;
}
.ftr-payment-icon ul{
    padding-top: 15px;
}
.footer-seven .footer-widget .social-icon {
    padding-top: 10px;
}
.footer-seven .footer-widget ul.social-icon li{
    width: auto;
    padding: 5px 12px;
}
.footer-seven .get-touch p a{
    color: #666;
    display: inline-block;
}
.footer-seven .footer-newsletter .form-control.text {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.footer-seven .social-icon a {
    color: #666666;
    font-size: 18px;
}
.footer-seven .social-icon a:hover {
    color: #999;
}

@media (max-width: 991px) {
    .footer-seven .widget-wrap {padding: 40px 15px;}
}
@media (max-width: 767px) {
    .footer-seven .widget-wrap {padding: 0 15px 40px;}
}

/******************************* 
    4 - FOOTER ENDS 
********************************/

/******************************* 
  5 - POPUPS STARTS 
********************************/

/*---------------- 5.1 -  Back To Top Starts -------------------------- */
.to-top { 
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #333333;
    border-radius: 0;
    bottom: -150px;
    cursor: pointer;
    font-size: 26px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 3%;
    text-align: center;
    width: 45px;
    z-index: 999;

    -ms-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; 
}
.to-top:hover {opacity: 0.5; background-color: #333; color: #fff;}
/*---------------- 5.1 -  Back To Top Ends ------------------------ */

/*---------------- 5.2 - Product Preview Popup Starts ------------------------ */

.product-modal .modal-content {
    border-radius: 0;
    display: inline-block;
    padding: 30px 10px;
    width: 100%;
}
.product-modal .close {
    background: #333333 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    float: none;
    font-size: 24px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    position: absolute;
    right: 30px;
    text-align: center;
    text-shadow: unset;
    width: 40px;
    z-index: 1;
}
.product-modal .close:hover {
    background: #ececec none repeat scroll 0 0;
    color: #999999;
}

/*--- Product Slider Style 1 Starts ---*/
.owl-carousel .item:hover .caption-link, .product-fullwidth .item:hover .caption-link{
    opacity: 1;
    visibility: visible;
}
.sync1 {margin-bottom: 16px;}
.caption-link {
    background-color: #ffffff;
    text-align: center;
    border-radius: 3px;
    bottom: 0;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    left: 0;
    line-height: 35px;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 30px;
}
.sync2 .synced .item:before, .sync2 .item:hover:before {
    background-color: rgba(255, 255, 255, 0);
}
.sync2 .item:before {  
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transition: all 0.4s ease-in-out 0s;
    -website-transition: all 0.4s ease-in-out 0s;
}
.sync2 .item,.sync1 .item {  
    cursor: pointer;   
    text-align: center;   
    position: relative;
    transition: all 0.4s ease-in-out 0s;
    -website-transition: all 0.4s ease-in-out 0s;
}
.sync2 .owl-nav i {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;   
}
.sync2 .owl-nav i:hover {background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;}
.sync2 .owl-nav .owl-next i {right: 0;}
.sync2 .owl-nav .owl-prev i {left: 0;}

/*--- Product Slider Style 1 Ends ---*/

/*--- Product Content Starts ---*/
.product-detail {display: inline-block; width: 100%; vertical-align: middle; position: relative;}
.product-detail .section-title {margin: 0 0 10px;}
.product-detail .rating {margin-bottom: 20px;}
.product-detail .price > b {color: #000000; font-size: 24px;}
.product-detail .price > del {margin-left: 5px; font-size: 18px;}
.product-detail .price {margin-bottom: 20px;}
.product-detail .prod-lr-btn{ position: absolute; right: 0; }
.product-detail .prod-lr-btn a {
    display: inline-block;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.product-detail .prod-lr-btn i {
    font-size: 24px;
    color: #000;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.product-detail .prod-lr-btn a::before {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.product-detail .prod-lr-btn a:hover:before, .product-detail .prod-lr-btn a:hover i {opacity: 1;}

.product-detail .product-review {
    display: inline-block;
    margin-left: 10px;
}
.product-detail .product-review li , .product-detail .stock-detail li { line-height: 1; }
.product-detail .product-review li + li,.product-detail .stock-detail li + li { border-left: 1px solid #999; padding-left: 10px; }
.product-detail .stock-detail li + li{   margin-left: 17px; padding-left: 30px; }
.product-detail .stock-detail i {font-size: 18px; vertical-align: sub; margin-right: 5px;}
.product-detail .product-review a {padding-left: 5px;}
.product-detail .product-description p{ color: #666; }
.product-detail .color-optn a {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    line-height: normal;
    padding: 2px;
    vertical-align: middle;
}
.product-detail .color-optn li {display: inline-block;}
.product-detail .color-optn a:focus, .product-detail .color-optn a:hover {border-color: #000;}
.product-detail .size-optn a {
    background-color: #efefef;
    color: #333333;
    display: inline-block;
    font-weight: 600;
    height: 25px;
    min-width: 25px;
    padding: 2px 6px;
    text-align: center;
}
.product-detail .size-optn a:focus, .product-detail .size-optn a:hover {background-color: #333; color: #fff;}
.product-detail .product-options label {
    color: #000000;
    display: inline-block;
    font-weight: 500;
    width: 100%;
    margin-bottom: 17px;
}
.product-detail .product-options .option {text-transform: uppercase;}
.product-detail .product-options .bootstrap-select .btn .filter-option {
    color: #999999;
    font-style: italic;
}
.product-detail .product-options .bootstrap-select .btn{
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
}

.product-detail .prod-btns {
    display: inline-block;
    margin-bottom: 40px;    
    width: 100%;
}
.product-detail .prod-btns > div {margin-top: 20px;}
.product-detail .add-to-cart .cart-btn{min-width: 200px; font-size: 18px;}
.product-detail .add-to-cart .cart-btn i {
    line-height: 0;
    margin-right: 7px;
    vertical-align: middle;
}
.product-detail .prod-btns .form-control.qty {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 170px;
    line-height: normal;
}
.product-detail .prod-btns .quantity .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    font-size: 22px;
}
.product-detail .prod-btns .quantity .minus {
    left: 10px;
}
.product-detail .prod-btns .quantity .plus{
    right: 10px;
}
.product-detail .prod-btns .quantity {
    position: relative;
    margin-right: 25px;
}
.product-detail .prod-btns > div{ display: inline-block; vertical-align: middle; }
.product-detail .quantity input[type=number]::-webkit-outer-spin-button,
.product-detail .quantity input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.product-detail .quantity input[type=number] {
    -moz-appearance:textfield;
}
.product-detail .prod-social ul{
    display: inline-block;
    vertical-align: middle;
}
.product-detail .prod-social li a {
    color: #cccccc;
    font-size: 16px;
}
.product-detail .prod-social li a:hover { color: #000; }

@media (min-width:1200px) {
    .product-modal{width: 1090px;}  
    .our-products .col-lg-3:nth-child(4n + 1){clear: both;}
}
@media (max-width: 767px) {
    .prod-slider-wrap {margin-bottom: 50px;}
    .product-detail .product-review {display: block; margin: 10px 0 0 -5px;}
    .product-detail .stock-detail li + li {margin-left: 0; padding-left: 15px;}
}
/*---------------- 5.2 - Product Preview Popup Ends ------------------------ */

/*---------------- 5.3 - Subscribe Popup Starts ------------------------ */
.subscribe-me{
    background-color: #e9e9e9;
    height: auto;
    left: 0;
    margin: auto;
    padding: 12px;
    right: 0;    
    top: 20%;
    width: 830px;
    background-image: url(../img/common/newsletter-bg.png);
    background-repeat: no-repeat;
    background-position: 85% bottom;
}
.subscribe-me .main-title {font-size: 30px; margin-bottom: 25px;}
.subscribe-me p {
    font-size: 14px;
    margin: auto auto 20px;
    width: 80%;
    color: #666666;
}
.popup-newsletter {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 100%;    
}
.subscribe-wrap {
    padding: 45px 42px 15px;
}
.subscribe-me .form-control.text {
    border: 2px solid #cccccc;
    text-align: center;
    background-color: transparent;
    font-size: 13px;
    height: 40px;
    line-height: 37px;
    margin-bottom: 25px;
    padding: 0 15px;
    width: 100%;
}
.subscribe-me .sb-close-btn {
    font-size: 22px;
    background-color: #999999;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 13px;
    text-align: center;
    top: 13px;
    width: 40px;
    z-index: 1;
}
.subscribe-me .sb-close-btn:hover {
    background-color: #000;
}

@media (max-width:991px){
    /*-- Subscribe Popup --*/
    .subscribe-me{
        width: auto;
        margin: auto 25px;
        top: 10%;
    }
    .popup-newsletter:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
}
}
@media (max-width: 767px){
    .subscribe-wrap {
        padding: 45px 0 15px;
    } 
}

/*---------------- 5.3 - Subscribe Popup Ends------------------------ */

/******************************* 
  5 - POPUPS ENDS 
********************************/


