/*!
Theme Name: asperias
Theme URI: http://underscores.me/
Author: Asperias
Author URI: http://underscores.me/
Description: Wordpress Woocommerce theme for selling physical product
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: asperias
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

asperias is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/


/* ==========================================
            CUSTOM CSS
   =========================================*/

.site-title {
    padding-left: 87px;
    font-size: 24px;
}

.twitter-widget li a {
    text-transform: uppercase;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.cat-item .product-image .img img {
    margin: 0 auto;
    display: block;
    border: 1px solid #d6d4d4;
    padding: 8px;
}

.cat-item .product-image {
    transition: transform 0.3s;
}

.cat-item .product-image:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}

.ts-footer-logo-font {
    float: right;
    width: 90px;
    clear: both;
}

.ts-rating-light.testimonial .carousel .carousel-inner .item.active {
    display: block;
}

.sideItem {
    height: 160px;
}

.parfume-right-img img {
    width: 320px;
    float: right;
}

.woocommerce-products-header {
    display: none;
}

/*Rating css*/
.product-item .product-content .rating {
    margin: 10px auto;
}

.rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.3em;
    font-family: 'star';
    font-weight: 400;
}

.rating:before {
    content: "\53\53\53\53\53";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: #ffd33b;
}

/*Min height of product*/
.tab-content .tab-pane .row .product {
    min-height: 543px;
}

/*WooCommerce Pagination*/

.woocommerce-pagination {
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
}

.woocommerce-pagination .page-numbers .current, .woocommerce-pagination .page-numbers li a:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    width: 35px;
}

.woocommerce-pagination .page-numbers a:link, .woocommerce-pagination .page-numbers a:visited {
    background-color: #ffffff;
    color: #000;
    border-color: #ffffff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    width: 35px;
}

.woocommerce-pagination .page-numbers li {
    display: inline;
    margin: 2px;

}

.woocommerce .woocommerce-pagination {
    width: 50%;
    float: left;
    text-align: left !important;
}

.woocommerce-result-count {
    width: 46%;
    float: right;
    text-align: right;
    margin-bottom: 0;
}

.woocommerce-pagination a.next.page-numbers, .woocommerce-pagination a.prev.page-numbers {
    border: 1px solid #cccccc;
    font-size: 20px;
}

/*Add to cart*/

.product-item .product-links a.wc-forward {
    display: block;
    width: 90px;
    margin: 6px auto;
}

/*Min Cart Css*/
.woocommerce-mini-cart-item .alert a.img img {
    width: 46px;
    height: 61px;
}

/*Menu Login*/
#menu-login li {
    display: inline-block;
    padding: 0 10px;
}

/*404 error*/
.error-wrap .main-title {
    padding: 30px 0 25px;
}

.error-botton {
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: 15px;
}

.error-botton:hover {
    color: #ffffff;
    background-color: #000000;
}

/*Home page carousel*/
.owl-nav-2 .owl-nav {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 42%;
    width: 100%;
}

.owl-nav-2 .owl-nav .owl-prev {
    left: 0;
}

.owl-nav-2 .owl-nav .owl-next {
    right: 0;
}

/*Single Page Quantity CSS*/

.product-detail .prod-btns .quantity,
.product-detail .prod-btns .add-to-cart {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
}

input.input-text.qty {
    width: 3.631em;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    box-shadow: none;
    color: #222222;
    display: block;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    padding: 6px 0;
    text-align: center;
}

input.input-text.qty:focus {
    border: 1px solid #e7e8ec;
    outline: none;
}

/*Product Single page carousel*/
.relative-div .owl-nav-2 .owl-nav {
    top: 31%;
}

.owl-nav-2 .owl-nav::before {
    border-bottom: 0 !important;
    height: 0px !important
}

/*Reviews*/
.woocommerce-Reviews-title {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.woocommerce-Reviews {
    padding: 10px;
}

.woocommerce-Tabs-panel .woocommerce-Reviews h2 {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 25px;
    margin-top: 0;
}

.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 65px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 85px;
}

/*Review Comment*/

.woocommerce #review_form #respond {
    margin: 20px 0 0;
}

.woocommerce #review_form .comment-reply-title {
    color: #404040;
    font-size: 18px;
    font-weight: 600;
}

.woocommerce #review_form label {
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
}

.woocommerce p.stars a {
    color: #ffd33b;
    margin-right: 4px;
    font-size: 16px;
}

.woocommerce #review_form .comment-form-author label,
.woocommerce #review_form .comment-form-email label {
    display: block;
}

.woocommerce #review_form .comment-form-author,
.woocommerce #review_form .comment-form-email {
    display: inline-block;
    float: left;
}

.woocommerce #review_form input[type="text"],
.woocommerce #review_form input[type="email"],
.woocommerce #review_form textarea {
    background: #fff;
    height: 50px;
    width: 100%;
    border: 1px solid #ececec;
    color: #252525;
    font-size: 14px;
    padding: 0 15px;
    margin-bottom: 20px;
    transition: all 500ms ease;
    outline: none;
}

.woocommerce #review_form input[type="text"]:focus,
.woocommerce #review_form input[type="email"]:focus,
.woocommerce #review_form textarea:focus {
    border: 2px solid #e7e8ec;
}

.woocommerce #review_form textarea#comment {
    height: 110px;
    padding: 10px 15px;
    margin-bottom: 0;
}

.woocommerce #review_form .comment-form-author,
.woocommerce #review_form .comment-form-email {
    padding: 0 15px;
    width: 50%;
}

.woocommerce #review_form .comment-form-author {
    padding-left: 0
}

.woocommerce #review_form .comment-form-email {
    padding-right: 0
}

.woocommerce #review_form .form-submit {
    display: inline-block;
}

.woocommerce #respond input#submit {
    background: #fff;
    border: 1px solid #999999;
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 500ms ease;
    padding: 14px 45px 14px;
    transition: all 500ms ease;
}

.woocommerce #respond input#submit:hover {
    background-color: #454545;
    color: #ffffff;
}

.prod-tab-content li::before {
    width: 0;
}

.prod-tab-content li {
    border: 1px solid #e7e8ec;
    padding: 10px 0 0 30px;
    margin-bottom: 15px;
}

/*Single Product Page Image*/

.flex-viewport figure.woocommerce-product-gallery__wrapper div.woocommerce-product-gallery__image a img {
    height: 328px;
}

ol.flex-control-nav {
    margin-top: 5px;
}

ol.flex-control-nav li {
    display: inline-block;
    padding-left: 10px;
}

/*Woocommerce Cart Page*/

.woocommerce table.shop_table {
    border: none;
}

.product-table th {
    font-weight: normal !important;
    padding: 13px 20px !important;
    text-transform: uppercase !important;
}

.woocommerce a.remove {
    display: block;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: right;
    width: 20px;
    color: #cccccc !important;
}

.woocommerce a.remove:hover {
    color: #000 !important;
    background: none;
}

.woocommerce table.shop_table td {
    border-top: 1px solid #cccccc;
}

.woocommerce table.shop_table td {
    padding: 20px 12px !important;
}

.woocommerce .cart.shop_table .product-thumbnail img {
    max-width: 120px;
}

.coupon .input-text {
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    box-shadow: none;
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    height: 52px;
    text-align: center;
    margin-right: 10px;
    outline: none;
}

.woocommerce table.cart td.actions .input-text {
    width: auto !important;
}

.cart-total {
    float: right;
}

/*Empty cart css*/

.empty-cart {
    text-align: center;
}

.empty-cart .cart-empty {
    margin-bottom: 30px;
    font-size: 24px;
}

/*Checkout Page*/

.checkout-sec-space {
    padding: 40px 0;
}

.checkout-sec-space .woocommerce-billing-fields__field-wrapper input {
    height: 36px;
    padding-left: 7px;
}

.checkout-sec-space .select2-container--default .select2-selection--single {
    height: 36px;
}

.checkout-sec-space .woocommerce form .form-row textarea {
    height: 80px !important;
}

.checkout-sec-space #customer_details {
    margin-bottom: 40px;
}

.checkout-sec-space h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.checkout-sec-space .checkout_coupon input {
    height: 36px;
    padding-left: 7px;
}

.checkout-sec-space button.button,
.checkout-sec-space input.button {
    background-color: #454545 !important;
    border: 1px solid #454545 !important;
    color: #ffffff !important;
    height: 36px;
}

.checkout-sec-space .woocommerce-checkout #payment {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #bebebe;
}

.checkout-sec-space .shop_table {
    border: 1px solid #bebebe !important;
    padding: 15px 35px;
    border-radius: 2px;
    margin-bottom: 50px !important;
}

.checkout-sec-space .place-order .submit-btn {
    margin-top: 30px;
}

.checkout-sec-space .woocommerce-info {
    border-top-color: #000000;
    background-color: #e6e6e6;
}

.checkout-sec-space .woocommerce-info::before {
    color: #0b0b0b;
}

.checkout-sec-space .woocommerce-info a:hover {
    color: #565656 !important;
}

.thank-you-page {
    margin-top: 80px;;
}

.thank-you-page h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.thank-you-page .woocommerce-order {
    border: 1px solid #bebebe;
    border-radius: 2px;
    padding: 40px 30px;
}

.thank-you-page .woocommerce-customer-details address {
    line-height: 30px;
    padding: 20px;
}

.thank-you-page .woocommerce-customer-details p {
    line-height: 30px;
}

.woocommerce form .form-row input.input-text {
    height: 36px;
}

.woocommerce-form-login .form-row button.button {
    padding: 0 35px;
    margin-right: 15px;
}

.woocommerce-form-login .form-row button.button:before,
.login-page form button:before,
.my-account-page .woocommerce-Message a:before,
.my-account-page .woocommerce-MyAccount-content table tbody td.woocommerce-orders-table__cell-order-actions a:before,
.my-account-page .woocommerce-MyAccount-content p button:before {
    border: #454545 solid 4px;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -ms-transition-property: top, right, bottom, left;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.woocommerce-form-login .form-row button.button:hover:before,
.login-page form button:hover:before,
.my-account-page .woocommerce-Message a:hover:before,
.my-account-page .woocommerce-MyAccount-content table tbody td.woocommerce-orders-table__cell-order-actions a:hover:before,
.my-account-page .woocommerce-MyAccount-content p button:hover:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
}

.login-page {
    padding-top: 170px;
}

.login-page h2,
.my-account-page .woocommerce-MyAccount-content .woocommerce-order-details h2 {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.login-page form button,
.my-account-page .woocommerce-Message a,
.my-account-page .woocommerce-MyAccount-content table tbody td.woocommerce-orders-table__cell-order-actions a,
.my-account-page .woocommerce-MyAccount-content p button {
    background-color: #454545 !important;
    border: 1px solid #454545 !important;
    color: #ffffff !important;
    height: 36px;
}

.login-page form button {
    background-color: #454545 !important;
    border: 1px solid #454545 !important;
    color: #ffffff !important;
    height: 36px;
}

.login-page form input {
    padding-left: 7px;
}

/*My Account Page*/
.my-account-page {
    padding-top: 200px;
}

.my-account-page ul li {
    display: inline-block;
    float: left;
    padding: 14px 25px;
    font-size: 16px;
}

.my-account-page .woocommerce-MyAccount-navigation {
    margin-bottom: 30px;
    background-color: #d4d4d4;
    border-top: 4px solid #232323;
    padding-bottom: 30px;
}

.my-account-page .woocommerce-MyAccount-navigation ul li a:hover {
    color: #676767 !important;
}

.my-account-page .woocommerce-MyAccount-navigation ul li a:active {
    color: #676767;
}

.my-account-page tr {
    font-size: 15px;
    color: #676767;
}

.my-account-page tr td {
    font-size: 15px;
}

.my-account-page .woocommerce-MyAccount-content {
    padding: 15px;
    border: 1px solid #bebebe;
    border-radius: 3px;
}

.my-account-page table.shop_table {
    margin-bottom: 0px !important;
}

.my-account-page h3 {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.my-account-page address {
    line-height: 28px;
}

.my-account-page input {
    padding-left: 7px;
}

.my-account-page fieldset {
    margin-top: 40px;
}

.my-account-page legend {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

